.viz {
  background: #370225;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bubble {
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  opacity: 0.8;
  transition: all ease-in-out 0.3s;
}