.viz {

  h1 {
    position: absolute;
    top: -5px;
    left: 5px;
    margin: 0;
    padding: 0;
  }
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 25%;

  margin: 20px;
}

.stream {
  position: absolute;
  left: 75%;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 20px 0 0;
  height: 100%;
  overflow-y: auto;


  .image {
    width: 50px;
    height: 50px;
    background-size: cover;
    background: #eee;
    border: 1px solid #e2e2e2;
  }
}
.bubble {
  background: #C62744;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  -webkit-transition: all ease-in-out 0.3s;
  cursor: pointer;

  p {
    position: absolute;
    background: black;
    color: white;
    opacity: 0;
    -webkit-transition: opacity 0.1s linear;
    font-size: 12px;
    padding: 2px;
    display: block;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: -40px;
    text-align: center;
    border-radius: 5px;
  }

  &:hover {
    p {
      opacity: 1;
    }
  }

  &:hover {
    opacity: 1;
  }

  &.film {
    background: #92C160;
  }

  &.things-to-do {
    background: #FAAA2C;
  }

  &.events {
    background: #A42B87;
  }

  &.art {
    background: #1756A0;
  }

  &.bars {
    background: #813087;
  }

  &.restaurants {
    background: #00A192;
  }

  &.size {

  }
}

.connected {
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 100%;
  display: inline-block;
}

.now {
  position: absolute;
  bottom: 10px;
  width: 200px;
  left: 10px;
  background: rgba(0,0,0,0.05);
  border-radius: 3px;
  padding: 10px;

  h4 {
    margin-top: 0;
    font-size: 13px;
  }

  .image {
    width: 100%;
    height: 100px;
    background-size: cover;
  }
}

.tooltip {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}

