<button ng-click="pause()">Pause!</button>

<div class="viz">
    <div ng-repeat="page in pages" ng-style="page.style" class="bubble"><span style="color: #fff">{{page.uid.replace('Content-Post-','')}}</span></div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Visits</th>
        <th>Velocity (visits over time)</th>
        <th>Acceleration</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="page in pages">
        <td>{{page.uid}}</td>
        <td>{{page.visits}}</td>
        <td>{{page.velocity}}</td>
        <td>{{page.acceleration}}</td>
    </tr>
    </tbody>
</table>

<div>
    <h2>WebSocket Test</h2>
    Connection: {{ status }}
    <div id="output" ng-repeat="message in messages">
        Message: {{ message.text }}
        <small>{{ message.created_at | date }}</small>
    </div>


</div>