<div class="viz">
    <div ng-repeat="hit in hits" ng-class="hit.category.toLowerCase().replace(' ','-').replace(' ','-')"
         ng-style="hit.style" class="bubble"></div>
</div>

<div class="stream">
    <h1>Hits Vizualizer</h1>
    <p>Connection: {{ status }}</p>
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Page Name</th>
            <th>Visits</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hit in hits">
            <td>
                <div class="image" ng-style="{'background-image':'url(' + hit.image + ')'}"></div>
            </td>
            <td>{{hit.name}}</td>
            <td>{{hit.visits}}</td>
        </tr>
        </tbody>
    </table>
</div>